*{
    scroll-behavior: smooth
}

@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(./fonts/WorkSans-Thin.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(./fonts/WorkSans-ExtraLight.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(./fonts/WorkSans-Light.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/WorkSans-Regular.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./fonts/WorkSans-Medium.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/WorkSans-SemiBold.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(./fonts/WorkSans-Bold.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(./fonts/WorkSans-ExtraBold.ttf);
}
@font-face {
  font-family: 'Work Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(./fonts/WorkSans-Black.ttf);
}

#soluciones {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  grid-template-areas: 
    'text'
    'image'
    'form'
    'features'
  ;
}

@media (width > 1100px) {
  #soluciones {
    grid-template-columns: 1fr minmax(auto, 550px);
    grid-template-areas:
      'text form'
      'features form'
      'image form'
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;